.container {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    min-height: 80vh; 
}

.cardPrincipal {
    background-color: white;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.formulario {
    display: flex;
    gap: 10px; 
    margin-top: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.formulario label {
    font-weight: bold;
    white-space: nowrap; 
}

.formulario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex-grow: 1; 
    max-width: 200px;
}

.formulario button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.formulario button[type="submit"] {
    background-color: #FF5451; 
    color: white;
}

.formulario button[type="submit"]:hover {
    background-color: #e04441;
}

#resultado {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

.cardAjuda {
    border: 1px solid #f0f0f0;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #fcfcfc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
}

.cardAjuda h4 {
    color: #FF5451;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.cardAjuda a {
    color:#b40202;
    text-decoration: none;
    font-weight: bold;
}

.erro {
    color: #d9534f;
    font-weight: bold;
    padding: 10px;
    background-color: #fdd;
    border-radius: 4px;
}

.aviso {
    color: #d9534f;
    font-weight: bold;
}

@media (max-width: 600px) {
    .formulario {
        flex-wrap: wrap;
    }

    .formulario input {
        flex-basis: 100%; 
        max-width: 100%;
    }
}