* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

:root {
  --cor-principal: #FF5451;
  --sombra: 0 2px 8px rgba(0, 0, 0, 0.08);
}


body {
  background-color: #f4f8fb;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
}

header {
  background-color: var(--cor-principal);
  box-shadow: var(--sombra);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  color: #ffffff;
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #b40202;
}

section {
  padding: 2rem 1.5rem;
  width: 100%;
  margin: 0 auto; 
}

h2 {
  color: #b40202;
  margin-bottom: 1rem;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  width: 300px;
  transition: transform 0.2s ease, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.card h2 {
  color: #b40202;
  font-size: 1.2rem;
}

.card p {
  margin: 0.5rem 0 1rem;
}

.btn, button {
  background-color: #FF5451;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

.btn:hover,
button:hover {
  background-color: #b40202;
}

#btnTopo {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background-color:#FF5451;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btnTopo:hover {
  background-color: #b40202;
}

footer {
  background-color: #FF5451;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 90%;
  }
}